.blog--home {
	padding: 60px 0 20px;

	article {
		height: 450px;
		background: #FFF;

		.blog__img {
			display: block;	
			position: relative;
		    background: center center/cover no-repeat;
		    height: 45%;
		    padding: 0;
		    .shadow {
		    	opacity: 0;
		    }
			i {
			    position: absolute;
			    top: 100%;
			    left: 0;
			    width: 100%;
			    margin: auto;
			    text-align: center;
			    font-size: 54px;
			    opacity: 0;
			    color: #FFF;
			    z-index: 99;
			    transition: all 0.2s ease-in-out;
			}
		    &:hover{
		    	.shadow {
		    		opacity: 1;
				    background: rgba(241, 178, 14, 0.95);
				    transition: all 0.2s ease-in-out;
				}
				i {
				    top: 40%;
				    opacity: 1;
				    transition: opacity 1s, top 0.2s;
				}
		    }
		}

		.date {
			color: $brand-primary;
		}

		.blog__detail {
			height: 55%;		    
			border-right: 1px solid #efefef;
		    padding: 30px 30px 0;
		}
	}

	#owc-home--blog {

		.owl-stage-outer {
		}

		.owl-nav {
			position: absolute;
			top: 83.5%;
			width: 100%;
			margin: 0;
			padding: 0;
			z-index: 999;
			div {
				background: none;
				font-size: 60px;
				color: $brand-second;
			}
		}

		.owl-nav.disabled, 
		.owl-dots.disabled {
			display: inline-block !important;
		}

		// @include media-breakpoint-up(lg) {
		// 	.owl-nav {
		// 		position: absolute;
		// 		top: 33.5%;
		// 	}		
		// 	.owl-prev,
		// 	.owl-next {
		// 		padding: 0;
		// 		margin: 0;
		// 	}
		// 	.owl-prev {
		// 		float: left;
		// 		margin-left: -120px;
		// 	}
		// 	.owl-next {
		// 		float: right;
		// 		margin-right: -120px;
		// 	}
		// }
	}
}