.carousel-inner{
	.shadow {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: rgba(0,0,0,0.5);
		z-index: 0;
	}
	.carousel-item {
		height: 70vh;
		overflow: hidden;
		clear: both;
		.cap {
			position: absolute;
			z-index: 999;
			top: 25%;
			left: 0;
			right: 0;
			margin: auto;
			max-width: 60%;
			text-align: center;

			h1 {
				font-weight:600;
				font-size: 65px;
				line-height: 85px;
				color: #FFF;
			}
			p {
				color: #FFF;
				padding-top: 40px;
				max-width: 80%;
				font-size: 24px;
				margin: auto;
			    -webkit-transition: opacity 2s;
			    transition: opacity 2s;
			}
		}
	}
}


.slider-shadow {
    position: absolute;
    top: 70vh;
    width: 100%;
    margin-left: -15px;
}