/* 
*	All your CSS & SASS can go here!
*	Use the sass/themes folder as your personal sass directory!
*/

.spacer {
	height: 40px;
}

.wrapper-navbar {
	position: relative;
	z-index: 999;
}

.header-img {
	img { 
		width: 100%;
	}
}


