.wrapper-navbar {
	
	.head__contact {
		background-color: $brand-fourth;
		color: #FFF;
		padding: 15px 0;
		font-weight: bold;
		p {
			margin: 0;
		}
	}

	.head__address {
		background-color: $brand-second;		
		padding: 10px 0;
	}
	
	.head__icons{
		position: absolute;
		bottom: -24px;
		width: 100%;
		background: transparent;

		.head__icon {
			background-color: $brand-third;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
			color: #FFF;
		}
	}
}