
// Reset hero wrapper padding to 0
#wrapper-hero {
  padding:0px!important;
}

// Adding basic Wordpress classes to pass the Wordpress.org tests
.sticky, .gallery-caption, .bypostauthor {
font-size:inherit;
}

// Separate sticky wrapper from main content
.wrapper#wrapper-sticky {
  border-bottom:1px solid $gray-light;
}

// Adding some contrast background color to footer full widget
#wrapper-footer-full, #wrapper-static-hero{
  background-color: $gray-lighter;
}

// Necessary WP classes
.wp-caption {
  font-size: inherit;
}

.wp-caption-text {
  font-size: inherit;
}

.screen-reader-text {
  font-size: inherit;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
  padding-left:10px;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
  padding-right:10px;
}

.aligncenter {
  clear: both;
  display: block;
  margin:0px auto;
}



//Post design
.entry-footer span {
  padding-right:10px;
}

//Limit featured image size to 100%
img.wp-post-image, article img, figure, img, #secondary img {
  max-width: 100%;
  height: auto;
}

// Skip to content link
a.skip-link{
z-index: 1000;
position: fixed;
top: 0px;
right: 0px;
}

// Reset Jumbotron default margin
.jumbotron {
  margin-bottom:0px;
}

/* Main content */

#content header {
  margin: 20px 0
}
#content section {
  margin-bottom: 20px
}
#content footer {
  padding-bottom: 20px
}

/* Sidebar */

.sidebar {
  margin-top: 20px
}
.sidebar section {
  margin-bottom: 40px
}
.sidebar ul,
.sidebar ol {
  list-style-type: none;
  padding: 0
}
.sidebar li {
  margin: 10px 0
}

/* Hide form placeholders on focus */

input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
textarea:focus::-webkit-input-placeholder { color: transparent; }
textarea:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color: transparent; } /* FF 19+ */ 



/* Site footer */
.site-footer ul,
.site-footer ol {
  list-style-type: none;
  padding: 0
}
.site-footer li {
  margin: 10px 0
}
.site-sub-footer p {
  text-align: center
}

.site-footer p {
  text-align: center
}


/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;

  &:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
  }
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}