.page-template-interna-demo {

	.wrapper-navbar {
		nav {
			background: #FFF !important;
			padding: 2.5rem 2rem;
		    position: fixed;
		    width: 100%;
		}
		a, .nav-link {
			color: #000;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 14px;
			padding: 0;
		}
		a {
			margin: 0 0 0 26px;
		}
		#main-menu {
			padding-left: 60px;
		}
	}

	.parallax-window--slider {
		height: 100vh;
		overflow: hidden;
		clear: both;
	}

	.btn-interna {
	    background: #ff5b50 !important;
	    border: none;
	    padding: 0;
	    text-decoration: none;
	    cursor: pointer;
	    padding: 0;
	    text-transform: uppercase;
	    border-radius: 0;
	    outline: none;
	    box-shadow: none;
	    text-shadow: none;
	    position: relative;
	    letter-spacing: 0;
	    font-weight: 100;
	    color: #fff !important;
	    padding: 15px 25px;
	    z-index: 100;
	}
	.btn-interna--alt {
		color: #000 !important;
		margin-top: 20px;
		background: #FFF !important;
	}

	/*
	***	Project Boxes 
	*/
	.project-box {
		position: relative;
		margin: 0;
		padding: 0;
		height: 400px;
		background-size: cover;
		background-position: center; 
		background-repeat: no-repeat;

		.cover {
			position: absolute;
			top: 0px;
			bottom: 0px;
			left: 0px;
			right: 0px;
			background-color: #484752;
			opacity: 0.4;
			transition: all 0.3s ease 0s;
		}

		.caption {
			position: absolute;
			top: 30%;
			margin: 0 auto;
			text-align: center;
			padding: 40px;
			color: #FFF;

			h3 {
				font-weight: 700;
				font-size: 50px;
				text-transform: uppercase;
				transition: all 0.3s ease 0s;
			}
			
			p {
				margin-top: 60px;
				opacity: 0;
				transition: all 0.3s ease 0s;
			}
		}
		&.one { background-image: url(https://unsplash.it/600/600/?random); }
		&.two { background-image: url(https://unsplash.it/601/600/?random); }
		&.three { background-image: url(https://unsplash.it/602/600/?random); }
		&.four { background-image: url(https://unsplash.it/603/600/?random); }
		&.five { background-image: url(https://unsplash.it/604/600/?random); }
		&.six { background-image: url(https://unsplash.it/605/600/?random); }
		
		&:hover {
			.cover {
				opacity: 1;
			}
			.caption {
				h3 {
					margin-top: -20px;
				}
				p {
					margin-top: 20px;
					opacity: 1;
				}

			}

		}

	}

	/*
	***	Hero Unit 
	*/
	.hero-unit {			
	    background: #ff5b50;
	    padding: 81px 0 52px 0;
	    border-radius: 0;
	    position: relative;
	    h1 {
		    margin: 0;
		    font: bold 80px/74px Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
		    text-transform: uppercase;
		    color: #fff;
	    }
	}


	/*
	***	Welcome Section 
	*/
	.welcome {
		h1 {
			padding-left: 20px;
			font-size: 80px;
			text-transform: uppercase;
			font-weight: 600;
		}
		.wrap {
			padding-left: 20px;
			h5 {
				font-weight: 700;
				padding: 20px 0;
				small {
					font-weight: bold;
				}
			}
			p {
				font-size: 14px;
				color: #9f9f9f;
				line-height: 22px;
			}
		}
	}
}